* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    // background-color: var(--main-color);
    font-size: 14px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);

    &.scrolled {
        background-color: var(--main-color);
    }

    .container {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        height: 70px;

        .left {
            display: flex;
            align-items: center;
            width: fit-content;

            img {
                width: 25px;
                margin-right: 20px;
            }

            span {
                margin-right: 20px;
                cursor: pointer;
            }
        }

        .right {
            display: flex;
            align-items: center;

            

            .icons {
                margin: 0 15px;
                cursor: pointer;

            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }

            .profile {
                .options {
                    display: none;
                }

                span {
                    padding: 10px;
                    cursor: pointer;
                }

                &:hover {
                    .options {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        position: absolute;
                        background-color: var(--main-color);
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}